@import "fonts.css";

:root {
	--logo-min-width : 20px;
	--logo-width: 4vw;
	--navbar-height: max(var(--logo-min-width), var(--logo-width));
	--document-width: 98vw;
	--document-height: 98vh;
	--page-height: calc(
		var(--document-height) - var(--navbar-height) - 1px
	);
	--bg-blur: blur(1px);
	--title-padding: 25vw;
	--description-intro-padding: calc(
		var(--title-padding) - 2vw
	);
}

* {
	color: white;
}
body {
	margin: 0;
}
a {
	color: #222;
}

#navbar {
	position: fixed;
	top: 0;
	width: var(--document-width);
	z-index: 10;
}

#navbar .container {
	align-items: baseline;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#navbar #brand-logo {
	min-width: var(--logo-min-width);
	vertical-align: middle;
	width: var(--logo-width);
}

#navbar a {
	text-decoration: none;
	white-space: nowrap;
}

#nav-links,
#nav-auth {
	font-family: SourceSerifProRegular;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 1.5em;
}

#nav-links>li,
#nav-auth>a {
	display: inline;
	padding: 0 5px;
}
#nav-links>li:first-child,
#nav-auth>a:first-child {
	padding-left: 0;
}
#nav-links>li:last-child,
#nav-auth>a:last-child {
	padding-right: 0;
}

body>section { /* pages */
	padding: var(--navbar-height) 0 0 0;
	width: var(--document-width);
	height: var(--page-height);
}

body>section>* {
	z-index: 1;
}

.title {
	font-family: LobsterRegular;
}

body>section h1,
#front-page p.title {
	font-size: 3.5em;
	padding-right: var(--title-padding);
	text-align: right;
	white-space: nowrap;
	margin-top: 0;
}

#front-page .title {
	margin: 0;
}

#front-page .description-intro {
	font-family: JosefinSlab_latin;
	font-size: 2em;
	font-weight: 500;
	margin: 0;
	padding-left: 5vw;
	padding-right: var(--description-intro-padding);
	text-align: right;
}

#call-to-action {
	font-family: MontaguSlab;
	font-size: 3.5em;
	padding-left: 5vw;
	padding-right: 5vw;
	text-align: center;
}

#why-us,
.selling-point,
#despre-noi p {
	font-family: Quicksand;
	padding-left: 5vw;
	padding-right: 5vw;
}

#why-us,
.selling-point {
	font-size: 2.5em;
}

#why-us {
	font-size: 3em;
	font-weight: 500;
	margin-bottom: 0;
}
.selling-point {
	font-weight: 300;
	margin: 0;
}

#despre-noi p {
	font-size: 1.5em;
}

#noutati p {
	font-family: Quicksand;
	padding-left: 5vw;
	padding-right: 5vw;
}
#noutati label {
	padding-left: 5vw;
}
#noutati input {
	padding-right: 5vw;
	color: black !important;
}

body>section h1 {
	font-family: Oregano;
}

@media only screen and (max-width: 739px) {
	body>section {
		padding-top: calc(4 * var(--navbar-height));
	}

	body>section h1,
	#front-page p.title {
		padding-right: 0;
		text-align: center;
	}

	#front-page .description-intro {
		font-size: 1.75em;
	}

	#call-to-action {
		font-size: 1.3em;
		text-align: left;
	}

	#why-us,
	.selling-point {
		font-size: 1.5em;
	}
}
